loglevel: info

hosts:
  - aiox.local

certfiles:
  - /home/ejabberd/conf/certs/server.pem

listen:
  - port: 5222
    ip: "::"
    module: ejabberd_c2s
    max_stanza_size: 262144
    shaper: c2s_shaper
    access: c2s
    starttls: true

  - port: 5275
    ip: "::"
    module: ejabberd_service
    access: all
    hosts:
      agents.aiox.local:
        password: component_secret

  - port: 5280
    ip: "::"
    module: ejabberd_http
    request_handlers:
      /admin: ejabberd_web_admin
      /api: mod_http_api

acl:
  admin:
    user: admin@aiox.local
  local:
    user_regexp: ""

access_rules:
  local:
    allow: local
  c2s:
    deny: blocked
    allow: all
  announce:
    allow: admin
  configure:
    allow: admin
  register:
    allow: all

shaper:
  normal:
    rate: 3000
    burst_size: 20000
  fast:
    rate: 50000
    burst_size: 50000

shaper_rules:
  max_user_sessions: 10
  max_user_offline_messages:
    5000: admin
    100: all
  c2s_shaper:
    none: admin
    normal: all

auth_method: internal
auth_password_format: scram

modules:
  mod_disco: {}
  mod_ping: {}
  mod_register:
    ip_access: all
    access: register
  mod_roster:
    versioning: true
  mod_offline:
    access_max_user_messages: max_user_offline_messages
  mod_admin_extra: {}
  mod_http_api: {}
